.grid { 
    width: 900px; 
    height: 100px; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 50px 250px; 
    } 
    
    .grid img { 
    margin: 2px; 
    transform-style: preserve-3d; 
    transition:  0.5s; 
    } 
    
    .grid img.flip { 
    transform: rotateY(180deg); 
    } 
    #title{
        text-align: center;
        font-size: 40px;
        color:rgb(30, 192, 157); ;
    }

    .score{
        text-align: center;
        font-size: 40px;
    }
    .congrats{
        text-align: center;
        font-size: 30px;
    }
    